:root {
    --hover-color:#df5f2c;
    --hover-color-opacity: #df5f2cbf;
}

/*scroll bar*/
::-webkit-scrollbar { width: 8px;}
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey;  border-radius: 10px;}
::-webkit-scrollbar-thumb { height:8px; background: #9d360e; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #833618; }


a{ color: var(--hover-color); text-decoration: none; }
a:hover{ color: var(--hover-color-opacity); }
#topnav .navbar-nav .nav-link{ color: #282828; text-transform: uppercase; }
#topnav .navbar-nav .nav-link.active, #topnav .navbar-nav .nav-link:hover, #topnav .navbar-light .navbar-nav .show>.nav-link, #topnav .dropdown-item:focus, #topnav .dropdown-item:hover{ color: var(--hover-color);}
#topnav .dropdown-toggle::after{ display: none; }
/* Nav multilevel menu*/

@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	/*.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }*/
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
	

#slider .carousel-item img{height: calc(100vh - 80px);object-fit: cover;}
#slider .carousel-indicators [data-bs-target] { opacity: 1; height: 8px; width: 8px; }
#slider .carousel-indicators .active{ background-color: var(--hover-color); }
#slider .carousel-item:after { content:""; display:block;position:absolute; top:0;  bottom:0; left:0; right:0; background:rgba(0,0,0,0.6);}
#slider .carousel-caption{ z-index: 99; left:10%; top: 50%; right: 35%; transform: translateY(-50%); bottom: 0px; text-align: left;}
#slider .carousel-caption h2{ font-size: 40px; text-transform: uppercase;}
#slider .carousel-caption p{ font-size: 20px; }
.readmore-btn{ background-color: var(--hover-color-opacity); border-radius: 12px; color: #ffffff; padding: 8px 8px; line-height: 0.8; font-size: 16px; }
.readmore-btn:hover{ color: #ffffff; }
.slider-clickable{ position: absolute; bottom: 20%; right: 10%; }
.slider-clickable .knowledge-btn a, .slider-clickable .knowledge-btn img{ display: inline-block; }
.slider-clickable .knowledge-btn a{ padding-left: 25px; z-index: 10;}
.slider-clickable .knowledge-btn img{ background-color: var(--hover-color); border-radius: 50%; height: 60px; padding: 5px; margin-right: -25px; position: relative; z-index: 15;}

/*.timeline ol li{width:260px !important;}*/

.timeline img{width:65px;height:68px;}
.timeline time{font-size:34px !important;}
.timeline .arrows{visibility:hidden;}


.pr-0{ padding-right: 0px !important; }
.section-heading{ color: #747474; text-transform: uppercase; font-size: 38px; font-weight: bold; }

.services-bg{ background:  url("../img/home/images/3.png"); background-position: -10%; background-repeat: no-repeat; background-size: cover;}
.services-item{ color: #747474; cursor: pointer; text-transform: uppercase; font-size: 40px; padding: 25px 0; text-align: center; background: #ffffffbf; margin-bottom: 0px; border-bottom: 10px solid #ffffff; }
.services-item:hover{ background-color: #df5f2cc4; color: #ffffff; }
.services-item a{ text-decoration: none; color: #747474;}
.services-item:hover a{ color: #ffffff; }
#testimonials{ background-color: #ebebeb; }
.blog-bg{ background-color: #cccccc; }
#blogCarousel  .card-img img , #caseStudyCarousel .card-img img{width:347px;height:210px;}
#blogCarousel .date, #caseStudyCarousel .date {color:#e45f26;font-size:16px;}
#blogCarousel .card-title, #caseStudyCarousel .card-title{font-size:16px;}
#testimonials .carousel .carousel-indicators{ position: relative; }
.head { top: -5%; left: 6%; width: 90px; height: 90px; }
#testimonials .carousel .carousel-item:after,
#blog .carousel .carousel-item:after{ background-color: transparent; }
#testimonials .carousel .carousel-item h2{ color: var(--hover-color); font-size: 45px; margin-bottom: 1rem; }
#testimonials .carousel .carousel-item p{ font-size: 16px; }
.blog-minus-mt{ margin-top: -4rem; }
#blog .nav-tabs{ border: 0px; }
#blog .nav-tabs .nav-item{ padding: 0px 15px; }
#blog .nav-tabs .nav-item.first{ border-right: 2px solid #747474; }
#blog .nav-tabs .nav-link{ background-color: transparent; text-transform: uppercase; color: #747474; font-weight: bold; font-size: 1.5rem; border: 0px; padding: 0px; }
#blog .nav-tabs .nav-link.first:after{ border-right: 2px solid #747474; }
#blog .nav-tabs .nav-link.active{ color: var(--hover-color); }
#footer{ background-color: #3c4145; color: #ffffff;}
#footer a{ color: #ffffff; }
#footer a:hover{ color: #f6f6f6; }
#footer p a{ color: #ebebeb; }
#footer p a:hover{ color: #f6f6f6; }
.footer-menu h6, .footer-menu p{ color: #747474; font-size: 14px; }
.footer-menu ul{ padding-left: 0px; list-style: none; font-size: 14px; }
.footer-menu ul li{ line-height: 1.8; }
.copyright{ font-size: 14px; color: var(--hover-color); }

/*Social icons*/

.facebook {
	background-color: #3b5998 !important;
}
.twitter {
	background-color: #00abe3 !important; 
}
.instagram {
	background-color: #cc1569 !important;
}

.facebook,
.twitter,
.instagram {
	color: #fff;
}

	.facebook:hover,
	.twitter:hover,
	.googleplus:hover {
		color: #eee;
	}

.share-group a{
    display: block;
	position:relative;
	top: -205px;
    left: 0px;
   /*flex-direction: row;
    top: -235px;
    left: -18px;*/
}

.share-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 5px 0px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
}
	
/* services page css*/
.business-card{ cursor: pointer; }
.business-card .fs-h{ font-size: 28px; text-transform: uppercase; }
.about-txt p{ font-size: 16px; }
.bg-dark-75{ background-color: #00000094; }
.business-card:hover .bg-card-orange{ background-color: #df5f2ce3; } 
.business-card .btn-readmore{ background-color: var(--hover-color); color: #ffffff; font-size: 0.7rem; text-transform: uppercase; font-weight: bold; border-radius: 3px!important; }
.business-card .card-title{ /*min-height: 120px;*/ margin-top:70px; }
.socials {width:270px;}

.business-card:hover .btn-readmore{ background-color: #ffffff; color: var(--hover-color); }
.bg-orange{ background-color:  #df5f2c; }
.hover-text{ color: var(--hover-color); } 
.taxation-sub-items{ padding-left: 25px; }
.taxation-sub-items .list-group-item{ border:0px; margin-bottom: 10px; }
.taxation-sub-items .list-group-item img{ max-height: 50px; max-width:50px; margin-right: 20px; margin-top: 6px; }
.taxation-sub-items .list-group-item span.gray{ color: #747474;  }

/*leadership page*/
.leaders .card{ max-width: 205px; cursor: pointer; }
.leaders .card::after{ content: ''; position: absolute; height: 12px; width: 12px; border-radius: 50%; background-color: var(--hover-color); bottom: 0; right: -15px; }
.leaders .card::before{ content: ''; position: absolute; height: 50px; width: 50px; border-radius: 50%; background-image: url(../img/arrow.jpg); bottom: 0; background-repeat: no-repeat; right: -15px; background-size: cover; bottom: 85px; box-shadow: 0px 1px 2px 0px #000; z-index: 10; }
.leaders .card .card-heading{ display:flex; min-height: 55px;  }
.leaders .card .card-foot{ display: flex; min-height: 75px; }
.leaders .card:hover .card-heading,
.leaders .card:hover .card-foot{ background-color: #ebebeb;  } 
.leaders .card:hover .card-heading .text-white, .leaders .card:hover .card-foot .text-white{ color: var(--hover-color) !important;  }
.text-normal{ font-weight: normal; font-size: 1rem; }
.leaders .card .w-75{ width: 90% !important; }
#carouselLeadersModal{ overflow-y: auto;  margin: 0px 5rem; }
.modal .btn-close{ position: relative; z-index: 10; }
#carouselLeadersModal .carousel-item .card::after{ content: ''; position: absolute; height: 12px; width: 12px; border-radius: 50%; background-color: #ffffff; bottom: 0; right: -15px; }
.leaders .card.openLeadersModal img {  filter: grayscale(100%); -webkit-filter: grayscale(100%); }
.leaders .card.openLeadersModal:hover img{ filter: grayscale(0%); -webkit-filter: grayscale(0%); }

/*Why SBC*/
.card-img-overlay { background: var(--hover-color-opacity); position: absolute; height: 100%; width: 100%; left: 0;top: 0;bottom: 0;right: 0;opacity: 0;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s}
.card-img-overlay.dark{ background-color: rgba(0,0,0,0.6); opacity: 1; }
#strengths .card{ border-color: var(--hover-color); cursor: pointer; }
#strengths .card:hover .card-img-overlay{ opacity: 1;}
#vision .vision-sections .card{ cursor: pointer; background-color: #ebebeb !important; border-radius: 16px; margin: 0px 15px; text-align: center; }
#vision .vision-sections .card .section-icon{ height: 120px; width: 120px; background-color: #ebebeb;  border: 10px solid #ffffff; border-radius: 50%; padding: 15px; margin-top: -3rem!important; }
#vision .vision-sections .card .section-icon img{  width: 100%; }
#vision .vision-sections .card:after{ content: ''; position: absolute; height: 30px; width: 30px; background-color: #ebebeb; transform: rotate(45deg); bottom: -15px; left: calc(50% - 15px); }
#vision .vision-sections .card:hover{ background-color: var(--hover-color)!important; color: #ffffff!important; }
#vision .vision-sections .card:hover:after, #vision .vision-sections .card:hover .section-icon{ background-color: var(--hover-color)!important; }


@media (min-width: 768px) {
    #blog .nav-tabs .carousel-inner .carousel-item-end.active,
    #blog .nav-tabs .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    
    #blog .nav-tabs.carousel-inner .carousel-item-start.active, 
    #blog .nav-tabs .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

#blog .nav-tabs .carousel-inner .carousel-item-end,
#blog .nav-tabs .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

@media all and (min-width: 992px) {
	#topnav .navbar .nav-item.dropdown:hover > .dropdown-menu{ display: block; }
	#topnav .navbar .nav-item > .dropdown-menu{ margin-top:0; }
    #topnav .dropdown-menu li:hover .submenu{ display: block; }
    #topnav .dropdown-menu li:hover .submenu-left{ left: 100%; bottom:20px } 
}